@model HastaneRandevuSau.Models.DoktorCalisma

@{
    ViewData["Title"] = "Delete";
}

<h1>Admin mesai bilgilerini silebilir</h1>

<h3>Silmek istediğinden emin misin?</h3>
<div>
    <h4>DoktorCalisma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doktor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doktor.DoktorAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mesaiAraligi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mesaiAraligi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CalismaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Çalışma saatleri listesine geri dön</a>
    </form>
</div>
