@model IEnumerable<HastaneRandevuSau.Models.DoktorCalisma>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Index</h1>

<p>
    <a asp-action="Create">Yeni mesai gir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doktor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mesaiAraligi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doktor.DoktorAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mesaiAraligi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CalismaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CalismaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CalismaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
